<%= content_for :title, 'Visitor' %>
<h3>Visitor Page</h3>
<p>Welcome to the home of <%= @owner.name %>.</p>
<p>I was born on <span class="label label-info"><%= @owner.birthdate.strftime("%-m/%d/%Y") %></span>.</p>
<p>Only <%= @owner.countdown %> days until my birthday!</p>	