<div class="row">
	<div class="span10 offset1">
		<div class="hero-unit">
			<h1>Welcome!</h1>
			<p>Welcome to the home of <%= @owner.name %>.</p>
			<p>Check out my page for <a href="/visitor">Visitors</a>.</p>
		</div>
	</div>
</div>